<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let categoria of categorias">
        <ion-card class="categoria-card">
          <img *ngIf="categoria.imagen" [src]="categoria.imagen" alt="Imagen de {{ categoria.nombre }}" />
          <ion-card-header>
            <ion-card-title>{{ categoria.nombre }}</ion-card-title>
            <ion-buttons slot="end">
              <ion-button color="danger" fill="clear" (click)="eliminarCategoria(categoria)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="open-modal">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal trigger="open-modal" [breakpoints]="[0, 0.5, 0.8]" [initialBreakpoint]="0.5" (ionModalWillDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Nueva Categoría</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Cancelar</ion-button>
            <ion-button (click)="confirm()">Agregar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="nuevaCategoria.nombre" name="nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Imagen</ion-label>
            <ion-button (click)="filePicker.click()">Seleccionar Imagen</ion-button>
            <input type="file" #filePicker (change)="onFileSelected($event)" hidden />
          </ion-item>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
