ion-content {
  --background: #f4f4f4; // Fondo claro
}

ion-card-title {
  font-size: 1.2em;
  font-weight: bold;
}

.marca-card {
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.marca-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

// ion-button {
//   --background: #007bff; // Color principal para botones
//   --color: white; // Texto blanco
// }
